<header>      
  <div class="container-fluid  header_color" >
    <div class="navbar-header haderdata">
        <div class="container">
            <ul class="nav navbar-nav" style="float: left;">
                <li><a class="navbar-brand companymail" href="mailto:contact@ecoihub.com"> <i class="fa fa-envelope"></i>contact@ecoihub.com</a></li>
            </ul>


                    <ul class="nav navbar-nav nav_field">
                        <li><a href="tel:+914040268121" class="companyphno"><span class="glyphicon glyphicon-user"></span>+ 914040268121</a></li>
                    </ul>
        </div>
    </div>
   </div>

  <nav class="navbar navbar-default headerNavbar">
    <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <a href="#LogoClicked" class="brand js-target-scroll" ng-click="viewPage(iHubHome)">
                    <img alt="" src="images/ihub-technologies-private-limited.png" style="height: 70px;" />
                  </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#HomePage" class="info_data" ng-click="viewPage(iHubHome)">Home</a></li>
              <li><a href="#AboutUs" class="info_data" ng-click="viewPage(iHubAbout)">About Us</a></li>
              <li><a href="#Portfolio" class="info_data" ng-click="viewPage(iHubPortfolio)">Portfolio</a></li>
              <li><a href="#HealthCare" class="info_data" ng-click="viewPage(iHubHealthCare)">Health Care</a></li>
              <li><a href="#ContactUs" class="info_data" ng-click="viewPage(iHubContactUs)">Contact Us</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
        </div><!--container  -->
      </nav>
</header>